# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
*.idx
*.ind
*.lof
*.lot
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls

# Ignore the build directory
build/
